section {
    .upcoming-livestream {
        margin: 2em !important;
        .countdown {
            padding: 2em;
            margin: auto;
            box-sizing: border-box;
            background-color: #e7ebf1;
            border: 1px solid #D0D0D0;
            h4{
                text-align: center;
            }
        }
    }
    .live-livestream {
        margin: 2em !important;
        .countdown {
            padding: 2em;
            margin: auto;
            box-sizing: border-box;
            background-color: #28497c;
            color: #fff;
            h4{
                text-align: center;
                color: #fff;
            }
        }
    }
    div.dozent-view {
        div.livestream-mode-selection {
            margin: 2em;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-evenly;
            align-items: stretch;
            align-content: stretch;
            div {
                margin: 0 1em;
                padding: 1em 3em;
                text-align: center;
                background-color: #e7ebf1;
                border: 1px solid #D0D0D0;
                &:hover:not(.active){
                    background-color: #F2F2F2;
                    border-color: #A4A4A4;
                    cursor: pointer;
                    h3 {
                        color: #d60000;
                    }
                    p{
                        color: #000;
                    }
                }
                &.active {
                    background-color: #28497c;
                    color: #fff !important;
                    h3 {
                        color: #fff;
                    }
                }
            }
        }
    }
}
form {
    &.livestreaming-player-info {
        div.messagebox {
            display: none;
        }
        fieldset {
            label {
                cursor: default;
            }
        }
    }
}
